---
layout: layout.njk
title: Contact | Blue Quill Studio
permalink: /contact/
---
<section><div class="card" style="text-align:center"><h1>Contact</h1><a class="btn" href="mailto:tanweer.nazim21@gmail.com?subject=Message%20from%20Blue%20Quill%20Studio">Email the Author</a></div></section>